header {
  margin-top: 25px;
  width: 100%;
  height: 200px;
  color: rgb(229, 209, 128);
  font-family: 'Tangerine', cursive;
  text-align: center;
}

body{
  background-color:rgb(32, 51, 83) ;
  width: 1050px;
  margin: auto;
  color: rgb(229, 209, 128);

}

h1 {
  font-size: 5em;
}

h2{
  font-family: 'Cinzel', serif;
  font-size: 2em;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

img {
  border:rgb(229, 209, 128) solid 2px;
  border-radius: 1px;
}

/* ---------- Steven Section ---------- */
#stevenPicture{
  margin-top:25px;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  width: auto;
}

#steven {
  margin-right: 14px;
  height: 97.5%;
}

#stevenBio{
  align-self: flex-end;
}

#stevenBio h2 {
  margin-bottom: 0px;
}

#stevenInfo{
  line-height: 1.56em;
}

/* ---------- Joel Section ---------- */
#joelPicture{
  margin-top: 50px;
  height: 150px;
  display: flex;
}

#joel{
  margin-left: 14px;
  height: 97.5%;
}

#joelBio{
  align-self: flex-end;  
}
#joelName{
  margin-bottom: 8px;
  text-align:right;
}

#joelInfo{
  text-align: right;
  line-height: 1.9em;
}

/* ---------- Barra Section ---------- */
#barraPicture{
  height: 150px;
  margin-top:50px;
  flex-direction: row; 
}

#barra {
  float:left;
  margin-right: 14px;
  height: 97.5%;
}

#barraBio{
  margin-top:25px;
}

#barraInfo{
  line-height: 1.2em;
}

/* ----------  Section ---------- */
#revathiPicture{
  height: 150px;
  margin-top:50px;
  display: flex;
}

#revathi {
  justify-self: right;
  margin-left: 14px;
  height: 97.5%;
}

#revathiBio{
  align-self: flex-end;
}

#revathiName{
  margin-bottom: 8px;
  text-align:right;
}

#revathiInfo{
  text-align: right;
  line-height: 1.9em;
}

/* ---------- Footer ---------- */
footer {
  display: flex;
  justify-content: center;
}


#home {
  margin-top: 80px;
  font-size: 3em;
}

#home a {
  padding-left: .5em;
  padding-right: .5em;
  width: max-content;
  border: rgb(229, 209, 128) solid;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: rgb(229, 209, 128);
  font-family: 'Tangerine', cursive;
  text-decoration: none;
}

#home a:hover {
  background-color:rgb(229, 209, 128);
  font-weight: bold;
  color: #9c4961;
}
