header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  color: rgb(229, 209, 128);
  font-family: 'Tangerine', cursive;
  margin-top: 25px; 
}

body{
  background-color:rgb(32, 51, 83) ;
  width: 960px;
  margin: auto;
  color: rgb(229, 209, 128);

}

h1 {
  font-size: 5em;
  margin:auto;
  text-align: center;
}

h2{
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
}

img {
  border:rgb(229, 209, 128) solid 1px;
  border-radius: 1px;
}

/* ---------- Steven Section ---------- */
#stevenPicture{
  margin-top:25px;
  justify-content: flex-start;
  flex-direction: row;
  height: 100px;
  width: auto;
}

#steven {
  float:left;
  margin-right: 10px;
  height: 100%;
}

#stevenBio{
  margin-top:25px;
} 

#stevenInfo{
  font-family: 'Cormorant Infant', serif;
}

/* ---------- Joel Section ---------- */
#joelPicture{
  margin-top:25px;
  height: 100px;
  justify-content: flex-start;
  flex-direction: row;
}

#joel{
  float:right;
  margin-left: 10px;
  height: 100%;
}

#joelBio{
  margin-top:25px;
}

#joelName{
  text-align:right;
}

#joelInfo{
  font-family: 'Cormorant Infant', serif;
  text-align: right;
}

/* ---------- Barra Section ---------- */
#barraPicture{
  margin-top:25px;
  justify-content: flex-start;
  flex-direction: row; 
}

#barra {
  float:left;
  margin-right: 10px;
  height: 100px;
}

#barraBio{
  margin-top:25px;
}

#barraInfo{
  font-family: 'Cormorant Infant', serif;
}

/* ----------  Section ---------- */
#revathiPicture{
  margin-top:25px;
  justify-content: flex-start;
  flex-direction: row; 
}

#revathi {
  float:right;
  margin-left: 10px;
  height: 100px;
}

#revathiBio{
  margin-top:25px;
}

#revathiName{
  text-align:right;
}

#revathiInfo{
  font-family: 'Cormorant Infant', serif;
}

/* ---------- Other Selectors ---------- */
a:hover {
  background-color: rgb(229, 209, 128);
  color: black;
}

#home{
  margin-top: 80px;
}

