h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}

body {
  background-color:rgb(32, 51, 83) ;
  display:grid;
  grid-template-columns: 18% 24% 30% 10% 18%;
  grid-template-rows: 60px 540px 100px;
}

/* header and children */
header {
  grid-column: 1/6;
  grid-row:1/2;
  color: rgb(229, 209, 128);
  font-family: 'Tangerine', cursive;
  display: grid;
  grid-template-columns: 20% 25% 30% 12% 13%;
}

#title {
  text-align: center;
  grid-column: 2/3;
}

#roomName{
  grid-column: 3/4;
}

#tasks {
  grid-column: 4/5;
}

#hintButton{
  font-size: 2.4em;
  margin-right: 50px;
  font-family: 'Tangerine', cursive;
  background-color:rgb(32, 51, 83);
  color: rgb(229, 209, 128);
  margin-top: 15px;
  margin-left: 15px;
  grid-column: 5/6;
  grid-row: 1/2;
}

/* Room Image & container */
#roomx{
  grid-column: 2/4;
  grid-row: 2/3;
}

#roomimg {
  height:100%;
  width:100%
}

/* Taskbox for hint display */
#taskbox {
  background-image: url(../images/interface-vectors/verticalParchment.png);
  background-size: cover;
  height:fit-content;
  grid-row: 2/3;
  grid-column: 4/5;
}

/* Bottom row game interface */
#interface{
  font-family: 'Cinzel', serif;
  display: flex;
  height: 100px;
  background-color:rgb(229, 209, 128);
  color: black;
  border-radius: 5px;
  grid-row: 3/4;
  grid-column: 2/5;
}

#textContainer {
  width: 540px;
  padding:16px;
  background-image: url(../images/interface-vectors/parchment-vector.png);
  background-size: cover;
}

#textContent{
  width: 500px;
  height: 60px;
}

#okButton {
  float:right;
  font-family: 'Cinzel', serif;
}

#continueButton {
  float:right;
  font-family: 'Cinzel', serif;
}

#inventory {
  width: 250px;
  display:grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: 5% 15% 75% 5%;
}

#inventory h3 {
  grid-row:2/3;
  grid-column: 3/4;
}

#inventory div {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background-color:rgb(144, 133, 89);
  grid-row: 3/4;
  margin:auto;
}

#slot1{
  grid-column: 2/3;
}

#slot2{
  grid-column: 3/4;
}

#slot3{
  grid-column: 4/5;
}

/* Audio Controls */
#audio {
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

#muteImg{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

#on {
  width: 75px;
  height: 75px;
  border: rgb(44, 140, 185) solid 3px;
  border-radius: 50%;
}

#off {
  width: 75px;
  height: 75px;
  border: rgb(44, 140, 185) solid 3px;
  border-radius: 50%;
}

#audio button {
  display:contents;
}

#off:hover{
  border: antiquewhite solid 2px;
  text-decoration: none;
}

#on:hover{
  border: antiquewhite solid 2px;
  text-decoration: none;
}
