#room3 {
  grid-column: 2/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2.85fr 1fr .5fr 1.7fr 3.6fr .75fr .25fr .75fr 1fr .7fr 1.75fr .65fr;

  grid-template-rows: 3fr .65fr .5fr .9fr .55fr .75fr .55fr .75fr 1.5fr 1fr;
}

#roomimg {
  grid-column: 1/13;
  grid-row: 1/11;
  z-index: -1;
}

#col1 {
  grid-column: 1/2;
  grid-row: 1/11;
}

#clock {
  grid-column: 2/3;
  grid-row: 4/9;
}

#col3 {
  grid-column: 3/4;
  grid-row: 1/11;
}

#portrait {
  grid-column: 4/5;
  grid-row: 2/5;
}
#sofa {
  grid-column: 3/5;
  grid-row: 7/9;
}
#col5 {
  grid-column: 5/6;
  grid-row: 1/11;
}

#doll {
  grid-column: 6/7;
  grid-row: 6/8;
}

#col7 {
  grid-column: 7/8;
  grid-row: 1/11;
}

#mirror {
  grid-column: 9/10;
  grid-row: 3/5;
}

#drawer {
  grid-column: 8/11;
  grid-row: 7/8;
}

#door {
  grid-column: 11/12;
  grid-row: 4/9;
}

#rug {
  grid-column: 9/13;
  grid-row: 10/11;
}

#transition {
  grid-column: 1/9;
  grid-row: 1/9;
}